# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Environment
.env
.env.local

# Other
rms.png
rodrgo.png