.twtr-user { display: none;}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: underline;
}
a:hover {
	text-decoration: underline;
}

a.conference {
	text-decoration: underline;
}

li {
	margin:0 0 10px 0;   
   }

.fa {
  height: 30px;
  text-align: center;
  text-decoration: none;
  padding: 0px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-medium {
  background: white;
  color: black;
}

a.customisable-highlight { color: green; }
h1.summary { display: none !important; }

h3#nocap:first-letter {
  text-transform: lowercase!important;
}
.pos {
  font-size: 25px; line-height:1.1em; font-family: 'Open Sans', sans-serif ; margin: 0; padding: 0;
  color: #444;
  margin-top: -0.2em;
}
.nameheader {
  text-decoration:none;
  font-family: 'Permanent Marker', serif;
  padding:0;
  color: #a21919;
  font-size: 25pt;
  color: #0D3F80;
	text-align: left;
	white-space: nowrap;
	display: block;
}
.section {
  margin-right: 15px;
}
.section:hover {
  color: #4444FF;
  text-decoration:none;
}
.image{
  text-decoration:none;
}

#pic {
	float: left;
	width: 220px;
	max-width: 100%;
	margin-right: 15px;
	margin-bottom: 15px;
}

@media (max-width: 480px) {
  #pic {
    width: 100%;
    max-width: 150px;
    float: none;
    display: block;
    margin: 0 auto 15px;
  }
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
}

a.bibitem {
	font-style: italic;
}

.centered{
	max-width: 580px;
	text-align: justify;
	margin-right: auto;
	margin-left: auto;
}

body {
  font-family: 'Pontano Sans', serif;
  font-size: 13pt;
  text-justify: inter-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  margin: 0;
  padding: 0;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 180px;
  height: 100vh;
  padding: 20px;
  padding-right: 10px;
  background-color: #f8f8f8;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
}

.main-content {
  margin-left: calc((100vw + 220px - 900px) / 2);
  padding: 20px;
  padding-top: 90px;
  max-width: 900px;
  min-width: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  box-sizing: border-box;
}

@media (max-width: 1400px) {
  .main-content {
    margin-left: 220px;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    padding: 20px;
    padding-right: 10px;
  }
  
  .main-content {
    margin-left: 220px;
    margin-right: 20px;
    padding: 15px;
    padding-top: 90px;
    max-width: calc(100vw - 260px);
  }
}

@media (max-width: 480px) {
  .sidebar {
    padding: 20px;
    padding-right: 10px;
  }
  
  .main-content {
    margin-left: 220px;
    margin-right: 10px;
    padding: 10px;
    padding-top: 90px;
    max-width: calc(100vw - 250px);
  }
  
  .sidebar .nameheader {
    font-size: 14pt;
    margin-bottom: 20px;
  }
}

.sidebar .nameheader {
  margin-bottom: 30px;
  display: block;
  text-align: right;
  font-size: 16pt;
}

.sidebar .section {
  display: block;
  margin-bottom: 8px;
  margin-right: 0;
  padding: 3px 0;
  text-align: right;
}

